
.TodoCounter {
    font-size: 24px;
    text-align: center;
    margin: 24px;
    padding: 36px;
    border: outset;
    border-radius: 10px;
    font-weight: bold;
    background-color: rgb(216, 164, 51);
}
.TodoCounter span {
    font-weight: bold;
}
.img1 {
    position:absolute;
    left: 26px;
    top: 26px;
    width: 97.2%;
    opacity: 0.5;
    height:105px;
    object-fit: cover;
    z-index: -2;
}

@media(max-width: 768px) {
    .TodoCounter {
        margin: 16px;
        padding: 24px;
    }
}

