
.divButton {

    display: flex;
    justify-content: flex-end;
    margin-right: 144px;
    margin-top: 36px;
    position: static;
}


.Boton1 {
    z-index: 1;
    font-size: xx-large;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    box-shadow: -2px 2px rgb(102, 18, 170);
    background-color: rgb(114, 95, 219);

    transform: rotate(0);
    transition: .3s ease;
}

.Boton1:hover {
    transform: rotate(360deg);
}

@media(max-width: 768px) {

    .Boton1 {
        width: 35px;
        height: 35px;
        box-shadow: -1px 1px rgb(102, 18, 170);
        position: absolute;
        bottom: 180px;
        
    }
}